* { box-sizing: border-box; }

@media screen { /* Mobile first */

	/* Screen styles only - separate from print styles */
	
	html, body {
		font: 100%/1.5 Roboto, Arial, Helvetica, sans-serif;
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
		background: #fefefe;
	}

	h1, h2, h3, h4, h5, h6, label {
		font-family: Roboto, Arial, Helvetica, sans-serif;
		font-weight: 900;
		line-height: 1.1;
		color: #0e0e0e;
	}

	form input[type="text"], form input[type="email"], form textarea, form input[type="submit"], button {
		font-family: Roboto, Arial, Helvetica, sans-serif;
		font-size: 1rem;
	}

	p, code, blockquote {  
		margin: 0 0 1.5rem;
		color: #17160a;
	}

	p {
		font-size: 1rem;
		line-height: 1.5;
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		/*text-align: justify;*/
	}

	p+p { 
		text-indent: 2rem;
		margin-top: -1.5rem; 
	}

	code,
	pre {
		line-height: 1;
		font-family: 'Lucida Console', Monaco, monospace, serif;
		font-size: 1rem;
	}

	blockquote {
		font-style: italic;
		line-height: 1.125;
	}

	blockquote:before {
		content: "\201C";
		display: inline-block;
		padding-right: .4rem;
	}
/*
	h1 { font-size: 3rem;		line-height: 1;		margin-bottom: 2.0rem; 		}
	h2 { font-size: 2rem;		line-height: 1.1; 	margin-bottom: 1.33333rem;	}
	h3 { font-size: 1.5rem;		line-height: 1.1;	margin-bottom: 1.0rem; 		}
	h4 { font-size: 1.25rem;	line-height: 1.1;	margin-bottom: 0.83333rem; 	}
	h5 { font-size: 1.125rem;	line-height: 1.1; 	margin-bottom: 0.75rem; 	}
	h6 { font-size: 1rem;		line-height: 1.1;	margin-bottom: 0.66667rem	}
*/
	h1 { font-size: 1.5rem;		line-height: 1;		margin-bottom: 1.0rem;	 	}
	h2 { font-size: 1.375rem;	line-height: 1.1; 	margin-bottom: 0.91667rem;	}
	h3 { font-size: 1.25rem;	line-height: 1.1;	margin-bottom: 0.83333rem;	}
	h4 { font-size: 1.125rem;	line-height: 1.1;	margin-bottom: 0.75rem; 	}
	h5 { font-size: 1rem;		line-height: 1.1; 	margin-bottom: 0.66667rem; 	}
	h6 { font-size: 1rem;		line-height: 1.1;	margin-bottom: 0.66667rem	}

	a { text-decoration: none; border: 1px solid transparent; }
	
	a:link {
		border-bottom: 1px solid blue;
		text-decoration: none;
	}

	a:visited {
		border-bottom: 1px solid purple;
	}

	a:hover {
		border-bottom: 1px solid transparent;
	}

	a:active { color: tomato; }
	a:focus, :focus { 
		border: 1px dotted tomato;
	 }

	strong { font-weight: bold; }
	em { font-style: italic; }
	sup { 
		font-size: 0.75rem; 
		vertical-align: top; 
		position: relative;
		top: -2px; 
	}

	hr {
		border: 0;
    	height: 1px;
    	background: #0c1200;
	    background: transparent -webkit-linear-gradient(left, rgba(12, 18, 0, 0), rgba(12, 18, 0, 0.75), rgba(12, 18, 0, 0));
	    background: transparent -o-linear-gradient(left, rgba(12, 18, 0, 0), rgba(12, 18, 0, 0.75), rgba(12, 18, 0, 0));
	    background: transparent linear-gradient(to right, rgba(12, 18, 0, 0), rgba(12, 18, 0, 0.75), rgba(12, 18, 0, 0));
	 }

	/* Accessible Skip to Content */
	.skip-to-content {
		position:absolute;
		left:-10000px;
		top:auto;
		width:1px;
		height:1px;
		overflow:hidden;
	}

	.skip-to-content:focus {
		display: block;
		text-align: center;
		position:relative;
		top: 0;
		left: 0;
		width: auto;
		height: auto;
	}
	/* End Accessible Skip to Content */


	/* Main wrapper - contains all content except footer. Flexed to push footer to bottom in modern browsers */
	#main-wrapper {
		flex: 1 0 auto; 
		width: 100%; 
		margin: 0; 
		padding: 0;
	}
	/* End main wrapper */

	.content-wrapper {
		max-width: 1280px;
		margin: 0 auto;
	}

	header {
		padding: 1.5rem;
		text-align: center;
		border-bottom: 1px solid tomato;
	}
	header h1 {
		margin: 0;
	}

/*	.sectionhide { display: none !important; }
	.sectionshow { display: block !important; }*/
	.clickable {
		cursor: pointer !important;
	}

	#char-select, 
	#char-chosen, 
	#char-attackpool, 
	#fight-section,
	#game-over
	{
		padding: 0.75rem;
		border-bottom: 1px solid tomato;
	}

	#game-over {
		text-align: center;
	}

	#char-select h2, 
	#char-chosen h2, 
	#char-attackpool h2, 
	#fight-section h2, 
	#fight-section h3,
	#game-over h2 
	{
		margin: 0;
	}

	.char-pool {
		padding: 0.375rem;
	}

	.character-tile {
		background: #fefefe;
		border: 1px solid silver;
		text-align: center;
		box-shadow: 0 3px 5px silver;
		width: 48%;
		margin: 1%;
		margin-right: 2%;
		margin-left: 0;
		display: inline-block;
		vertical-align: middle;	
	}
	.character-tile:nth-of-type(2n) {
		margin-right: 0;
	}

	#char-chosen .character-tile {
		background: lime;
		border-color: darkgreen;
	}

	#char-attackpool .character-tile {
		background: red;
		border-color: darkred;
	}

	#char-defender .character-tile,
	#chars-defeated .character-tile {
		background: #0e0e0e;
		color: #fefefe;
		border-color: black;
	}

	#chars-defeated .character-tile {
		opacity: 0.5;
	}

	.character-pic {
		padding: 0 0.75rem;
	}
	
	.character-pic img {
		width: 100%;
		height: auto;
	}

	.character-hp {
		position: relative;
		top: 0; left: 0;
		display: block;
		width: 100%;
		background: darkred;
	}

	.character-currhp {
		position: relative;
		top: 0; left: 0;
		z-index: 1;
		display: block;
		width: 100%;
		background: forestgreen;
	}

	#fight-text {
	}

	#fight-text.default {
		color: #0e0e0e;
		background: transparent;
	}

	#fight-text.warning {
		padding: 0.75rem;
		color: #cc0000;
		background: #fbb9b9;
	}

	#char-attackbtn button, #game-over button {
		display: block;
		width: 100%;
		padding: 1rem 3rem;
		margin: 0.75rem auto;
	}

	/* Footer wrapper - contains footer content */
	.footer-wrapper {
		padding: 0.75rem;
	}

	/* End footer wrapper */


}

@media only screen and (min-width: 480px) {
	
	.character-tile {
		display: inline-block;
		width: 48%;
		margin: 1%;
		margin-left: 0;
		margin-right: 2%;
		vertical-align: middle;
	}

	
}

@media only screen and (min-width: 640px) {

	h1 { font-size: 1.75rem;	line-height: 1;		margin-bottom: 1.16667rem;	}
	h2 { font-size: 1.5rem;		line-height: 1.1; 	margin-bottom: 1.0rem;		}
	h3 { font-size: 1.375rem;	line-height: 1.1;	margin-bottom: 0.91667rem;	}
	h4 { font-size: 1.25rem;	line-height: 1.1;	margin-bottom: 0.83333rem; 	}
	h5 { font-size: 1.125rem;	line-height: 1.1; 	margin-bottom: 0.75rem; 	}
	h6 { font-size: 1rem;		line-height: 1.1;	margin-bottom: 0.66667rem	}
	

	.character-tile {
		width: 23%;
		max-width: 200px;
	}

	.character-tile:nth-of-type(2n) {
		margin-right: 2%;
	}

	.character-tile:last-of-type {
		margin-right: 0;
	}
}

@media only screen and (min-width: 768px) {
	
}

@media only screen and (min-width: 980px) {
	
}

@media only screen and (min-width: 1024px) {
	h1 { font-size: 3rem;		line-height: 1;		margin-bottom: 2.0rem; 		}
	h2 { font-size: 2rem;		line-height: 1.1; 	margin-bottom: 1.33333rem;	}
	h3 { font-size: 1.5rem;		line-height: 1.1;	margin-bottom: 1.0rem; 		}
	h4 { font-size: 1.25rem;	line-height: 1.1;	margin-bottom: 0.83333rem; 	}
	h5 { font-size: 1.125rem;	line-height: 1.1; 	margin-bottom: 0.75rem; 	}
	h6 { font-size: 1rem;		line-height: 1.1;	margin-bottom: 0.66667rem	}
}

@media only screen and (min-width: 1280px) {
	
}

@media only screen and (min-width: 1600px) {

}

@media only screen and (min-width: 1980px) {
    
}